## Wprowadzenie do Pythona ##

**Jupyter Notebook**

In [5]:
print('witajcie w świecie Pythona')

witajcie w świecie Pythona

In [6]:
# działa jak kalkkulator
2+2

4

### zmienne ####

In [11]:
# zmienna liczbowa
a = 2
b = 3
print('a = ', a)

a =  2

In [12]:
print('b =' ,b)

b = 3

In [13]:
suma= a+b
print('suma zmmiennych a + b = ', suma)

suma zmmiennych a + b =  5

In [14]:
# zmienne tekstowe (stringi)
napis = 'Dobry wieczór'
osoba = 'Jacek Kowalski'
print(napis, ', ', osoba)

Dobry wieczór ,  Jacek Kowalski

In [15]:
# zmiene logiczne (boolean)
p = True
q = False
print(p and q)

False

In [16]:
print(p or q)

True

In [17]:
b = True

In [22]:
print(p ^ b)# warunke xor exclusive or

False

## Pętle ##

**Pętla for**

In [29]:
for i in range(0,36):
    print(i, end= ', ')

0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35,

**Pętla while**

In [34]:
e = 1
while e <= 30:
    print(e, end =', ')
    e += 1

1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30,

**while jako pętla nieskończona**

In [36]:
print("wprowadź liczbę nieparzystą")
n = int(input(' n  = '))
while n%2 == 0:
    print("wprowadziłeś błędną liczbę, spróbuj ponownie")
    n = int(input(' n = '))
print('doskonale! liczba ', n , 'jest nieparzysta')

wprowadź liczbę nieparzystą

 n  =  4

wprowadziłeś błędną liczbę, spróbuj ponownie

 n =  6

wprowadziłeś błędną liczbę, spróbuj ponownie

 n =  2

wprowadziłeś błędną liczbę, spróbuj ponownie

 n =  5

doskonale! liczba  5 jest nieparzysta

**Zadanie**

Oblicz sumę 5000 pierwszych liczb naturalnych parzystych

In [37]:
# sposob pierwszy
suma = 0
for e in range(0, 5001, 2):
    suma += e
print('suma = ', suma)

suma =  6252500

In [38]:
suma = 0
for i in range(5001):
    if i%2 == 0:
        suma+=i
print('suma = ', suma)

suma =  6252500

In [39]:
3%2

1

In [41]:
7%5

2