## Informatyka 1 LO pr roz ##

**Program**

* break w pętli for
* break w pętli while
* dictionaries
* funkcje
* selector switch

In [ ]:
# pętla for
for i in range(10):
    print(i, end=', ')
    if i == 5:
        break

0, 1, 2, 3, 4, 5,

In [ ]:
for i in range(5):
    print(i);break

0

In [ ]:
j = 0
while j < 10:
    print(j)
    if j == 6:
        break
    j+=2

0
2
4
6

In [ ]:
j = 0
while j <100:
    print(j);break
    j+=1

0

In [ ]:
# dictionaries  słowniki
d = {'Staś':14, 'Julia':12,'Adam':18, 'Kasia':14}
print(d['Julia']+d['Kasia'])

26

In [ ]:
print(d['Staś']+ d['Adam'])

32

**Funkcje**

In [ ]:
# funkcja bezargumentowa
def pisanie():
    print('*********************')

In [ ]:
pisanie()

*********************

In [ ]:
# funkcja z argumentem
def wartosc(x):
    return 2*x*x+3*x+4

In [ ]:
print(wartosc(1))

9

In [ ]:
for x in range(10):
    print(wartosc(x), end=', ')

4, 9, 18, 31, 48, 69, 94, 123, 156, 193,

In [ ]:
# funkcja dwuargumentowa
def value(x, y):
    return x*x +x*y + y*y

In [ ]:
for e in range(5):
    for i in range(3):
        print(value(e,i), end=', ');break

0, 1, 4, 9, 16,

In [ ]:
# wartosc logiczna
def bool(x,y):
    return x or y

In [ ]:
x = False
y = False
bool(x,y)

False

In [ ]:
def wiek(arg):
    switcher = {
    16: 'Ania',
    18: 'Janek',
    14: 'Kasia',
    15: 'Staś'
    }
    return switcher.get(arg, 'Błąd')

In [ ]:
print(wiek(10))

Błąd

In [ ]:
def dow(arg):
    switcher = {
        1: 'Pon',
        2: 'Wto',
        3: 'Sro',
        4: 'Czw',
        5: 'Pia',
        6: 'Sob',
        7: 'Niedz'
    }
    return switcher.get(arg, 'poza zakresem')

In [ ]:
print(dow(5))

Pia

In [ ]:
def miesiac(arg):
    switcher = {
        1 : 'Styczeń',
        2 : 'Luty',
        3 : 'Marzec',
        4 : 'Kwiecień',
        5 : 'Maj',
        6 : 'Czerwiec',
        7 : 'Lipiec',
        8 : 'Sierpień',
        9 : 'Wrzesień',
        10 : 'Październik',
        11 : 'Listopad',
        12 : 'Grudzień'
    }
    return switcher.get(arg, 'zły numer')

In [ ]:
print(miesiac(4))

Kwiecień

In [ ]:
x = 0
while x <= 7:
    x = int(input('podaj nr dnia '))
    print(dow(x))
    if x > 7:
        break

podaj nr dnia  2

Wto

podaj nr dnia  3

Sro

podaj nr dnia  4

Czw

podaj nr dnia  7

Niedz

podaj nr dnia  8

poza zakresem

In [ ]:
for i in range(1,100):
    if i%7 == 0:
        print(i, end = ', ')
    if i % 21 == 0:
        break

7, 14, 21,

In [ ]:
def fibo(n):
    if n == 0:
        return 1
    if n == 1:
        return 1
    return fibo(n-2)+fibo(n-1)

In [ ]:
n = int(input('Podaj liczbe do fibo '))
print(fibo(n))

Podaj liczbe do fibo  35

14930352