In [6]:
lst = ['Małgorzata\n','Aleksander\n', 'Brian\n', 'Wernika\n', 'Konrad\n', 'Damian\n', 'Dawid\n', 'Filip\n', 'Jakub\n', 'Klaudia\n', 'Marcelina\n', 'bąbelek']

f = open('names.txt', mode='w')
for e in lst:
    f.writelines(e)
f.close()

In [7]:
f = open('names.txt', mode='r')
for e in f:
    print(e)
f.close()

Małgorzata

Aleksander

Brian

Wernika

Konrad

Damian

Dawid

Filip

Jakub

Klaudia

Marcelina

bąbelek

In [9]:
f = open('nazwy.txt', mode='r', encoding='utf-8')
for e in f:
    print(e)
f.close()

Małgosia

Jurek

Andrzej

Stefan

Zosia

Bożena

Marta

In [10]:
import random

In [11]:
num = []
for e in range(20):
    num.append(random.randint(1,100))
print(num)

[54, 51, 72, 69, 36, 14, 22, 69, 19, 84, 79, 13, 11, 33, 69, 67, 30, 61, 42, 85]

In [13]:
f = open('numbers.txt', mode='a')
for e in num:
    f.writelines(str(e)+'\n')
f.close()

In [14]:
f.closed

True

In [17]:
liczby = []
f = open('numbers.txt', mode='r')
for e in f:
    liczby.append(int(e))
f.close()

In [18]:
print(liczby)

[54, 51, 72, 69, 36, 14, 22, 69, 19, 84, 79, 13, 11, 33, 69, 67, 30, 61, 42, 85]

In [22]:
print(min(liczby))

11

In [23]:
print('wartosc srednia avg = ', sum(liczby)/len(liczby))

wartosc srednia avg =  49.0

In [24]:
import numpy as np

In [27]:
print('wartosć srednia avg = ', np.mean(liczby))

wartosć srednia avg =  49.0