## Python 3
### Teamt: Programowanie w języku Python cz. 1.
**SPIS TREŚCI**

[![Python Pandas](pandas.jpg)]

-program interpretowany

-Jupyter Notebook i Anaconda.org

-Python Pandas

In [2]:
# pętla while
a = 2
b = 3
print("zmienna a = ",a,", b = ", b , ", suma = a+b = ", a+b)
j = 1 
while j < 11:
    print("obieg pętli nr ", j)
    if (j == 5):
        break
#         to jest przerwanie pętli, gdy j == 5
    j += 1
print ("to jest poza pęlą")

zmienna a =  2 , b =  3 , suma = a+b =  5
obieg pętli nr  1
obieg pętli nr  2
obieg pętli nr  3
obieg pętli nr  4
obieg pętli nr  5
to jest poza pęlą

In [3]:
# while do sprawdzania warunku
print("podaj liczbę parzystą od 2 do 100")
x = int(input("podaj liczbę parzystą   x  = "))
while ((x%2 != 0) | (x >100)):
#     tu można zastosować prawo de Morgana not(a and b) = not a  or  not b
    print("podałeś błędną liczbę")
    print("spróbuj jeszcze raz")
    x = int(input("podaj liczbę parzystą x = "))
print("podałes liczbę x = ", x)

podaj liczbę parzystą od 2 do 100
podaj liczbę parzystą   x  = 3
podałeś błędną liczbę
spróbuj jeszcze raz
podaj liczbę parzystą x = 150
podałeś błędną liczbę
spróbuj jeszcze raz
podaj liczbę parzystą x = 151
podałeś błędną liczbę
spróbuj jeszcze raz
podaj liczbę parzystą x = 82
podałes liczbę x =  82

In [5]:
# tworzenie listy
list = [-2,3,-8,5,9,-11]

In [6]:
#drukowanie całej listy
print(list)

[-2, 3, -8, 5, 9, -11]

In [8]:
# drukowanie elementów listy
for e in list:
    print(e, end=", ")

-2, 3, -8, 5, 9, -11,

In [9]:
# sumowanie elementów ujemnych
suma = 0
for e in list:
    if e<0:
        suma += e
print("suma = ", suma)

suma =  -21

In [10]:
# dodawanie elementu na koniec listy
list.append(100)
print(list)

[-2, 3, -8, 5, 9, -11, 100]

In [11]:
# usuwanie ostatniego elementu
list.pop()

100

In [12]:
# sprawdzamy czy jakk wygląda lista po operacjach append i pop
print(list)

[-2, 3, -8, 5, 9, -11]

## Analiza danych w Pythonie
**potrzebna jest biblioteka pandas

**do durku potrzebujemy matplotlib.pyplot

In [14]:
# bilbioteka pandas
# analiza danych
import pandas as pd

In [15]:
# wczytanie pliku excela w bieżącego katalogu
df = pd.read_excel('COVID-19-geographic-disbtribution-worldwide-2020-03-14_1.xls')

In [16]:
# pierwsze trzy rzędy ramki danyc
df.head(3)

,DateRep,CountryExp,NewConfCases,NewDeaths,GeoId,Gaul1Nuts1,EU
0,2020-03-11,Afghanistan,3,0,AF,NaN,Non-EU/EEA
1,2020-03-08,Afghanistan,3,0,AF,NaN,Non-EU/EEA
2,2020-03-02,Afghanistan,0,0,AF,NaN,Non-EU/EEA

In [17]:
# informacja o ilości wierszy i kolumn
df.shape

(5001, 7)

In [18]:
# filtrujemy dane dotyczące Polski
df[df.CountryExp == 'Poland'].sum()

NewConfCases    68
NewDeaths        2
dtype: int64

**Ciąg dalszy w następnym pliku