## Przetwarzanie tekstów w Pythonie ##

**Konkatenacja**

In [1]:
napis1 = 'stoi'
napis2 = 'lokomotywa'

In [3]:
print(napis1 + ' na stacji '+ napis2)

stoi na stacji lokomotywa

In [4]:
print(len(napis2))

10

In [5]:
print(list(napis2))

['l', 'o', 'k', 'o', 'm', 'o', 't', 'y', 'w', 'a']

In [7]:
for e in napis2:
    print(e, end=' ')

l o k o m o t y w a

In [8]:
print(napis2[2:5])

kom

In [10]:
print(napis2[::-1])

awytomokol

In [11]:
print(list(reversed(napis2)))

['a', 'w', 'y', 't', 'o', 'm', 'o', 'k', 'o', 'l']

In [13]:
for e in napis2:
    print(ord(e), end= ' ')

108 111 107 111 109 111 116 121 119 97

In [16]:
print(napis2.count('o'))

3

In [17]:
zdanie = ' It will function like a class. For each class we will be covering one chapter together, meaning the majority of the class time will be discussing grammar and answering questions.'

In [18]:
print(zdanie)

 It will function like a class. For each class we will be covering one chapter together, meaning the majority of the class time will be discussing grammar and answering questions.

In [19]:
print(zdanie.count('class'))

3

In [20]:
print(3+7)

10

In [21]:
print('3+7')

3+7

In [22]:
print('3' + ' ' + '7')

3 7

In [23]:
print('3'+'\n7')

3
7

In [51]:
file = open('file.txt', mode='r', encoding='utf-8')

In [52]:
print(file.read())

Jacek
Jurek
Małgosia
Irena
Katarzyna
Andrzej

In [49]:
file.closed

False

In [41]:
print(file.read())

In [50]:
file.close()

In [48]:
print(file.read(5))

Jacek

In [74]:
file.seek(0)

0

In [75]:
print(file.tell())

0

In [7]:
fruits=["Orange\n","Banana\n","Apple\n"]
new_file=open('owoce.txt',mode="a",encoding="utf-8")
new_file.writelines(fruits)
new_file.close()

In [8]:
print(new_file.closed)

True

In [9]:
new_file = open('owoce.txt',mode="r",encoding="utf-8")
for fruit in new_file:
    
    print(fruit)

new_file.close()

Orange

Banana

Apple

In [5]:
print(new_file.closed)

True

In [96]:
liczby = []
file = open('liczby.txt', mode='r')
for liczba in file:
    liczby.append(int(liczba))
print(liczby)

[119, 101, 32, 119, 105, 108, 108, 32, 111, 118, 101, 114, 99, 111, 109, 101]

In [97]:
print(max(liczby))

119

In [98]:
print(min(liczby))

32

In [99]:
print(len(liczby))

16

In [100]:
print(sum(liczby))

1588

In [101]:
print(list(liczby))

[119, 101, 32, 119, 105, 108, 108, 32, 111, 118, 101, 114, 99, 111, 109, 101]

In [102]:
file.close()

Zadanie. Obliczyć wartość ilość liczb, sumę, wartoóść maksymalną i minimalną oraz wartość średnią i odchylenie standardowe liczb w pliku numbers.txt

In [10]:
import random as ran

In [24]:
file = open('numbers.txt', mode='w+')
for e in range(121):
    nums = ran.randrange(1,100)
    file.write(str(nums)+'\n')
file.seek(0)
for e in file:
    print(e, end='')

22
57
74
55
81
97
76
21
81
18
31
38
14
90
24
18
84
88
56
9
25
50
50
58
11
46
62
48
80
55
12
69
37
40
46
29
65
76
74
81
78
64
12
70
33
4
13
23
6
45
75
48
13
65
36
80
25
30
91
77
74
59
17
91
3
8
69
71
6
19
58
59
74
23
58
67
11
8
16
5
12
63
89
35
92
83
46
38
4
20
26
6
24
60
59
68
76
57
96
66
49
52
27
5
17
93
47
90
46
40
6
96
38
79
86
91
65
66
23
80
89

In [25]:
file.close()

In [30]:
file = open('numbers.txt', mode='r')
lista = []
for e in file:
    lista.append(int(e))
file.close()
print(lista)

[22, 57, 74, 55, 81, 97, 76, 21, 81, 18, 31, 38, 14, 90, 24, 18, 84, 88, 56, 9, 25, 50, 50, 58, 11, 46, 62, 48, 80, 55, 12, 69, 37, 40, 46, 29, 65, 76, 74, 81, 78, 64, 12, 70, 33, 4, 13, 23, 6, 45, 75, 48, 13, 65, 36, 80, 25, 30, 91, 77, 74, 59, 17, 91, 3, 8, 69, 71, 6, 19, 58, 59, 74, 23, 58, 67, 11, 8, 16, 5, 12, 63, 89, 35, 92, 83, 46, 38, 4, 20, 26, 6, 24, 60, 59, 68, 76, 57, 96, 66, 49, 52, 27, 5, 17, 93, 47, 90, 46, 40, 6, 96, 38, 79, 86, 91, 65, 66, 23, 80, 89]

In [34]:
sum(lista)

5937

In [35]:
max(lista)

97

In [36]:
min(lista)

3

In [37]:
import numpy as np

In [38]:
np.average(lista)

49.06611570247934

In [39]:
np.mean(lista)

49.06611570247934

In [40]:
np.std(lista)

28.187898328626066