In [1]:
#liczbowe
a=2
b=3.5
print(a)

2

In [2]:
print(b)

3.5

In [3]:
s = 'Polska'
print(s)

Polska

In [8]:
print(s[::-1])

aksloP

In [13]:
lst = ['janek','małosia','leszek','piotrek','danusia','kamil','dawid','martyna','bartek']

In [16]:
lst

['janek',
 'małosia',
 'leszek',
 'piotrek',
 'danusia',
 'kamil',
 'dawid',
 'martyna',
 'bartek']

In [12]:
import pandas as pd

In [19]:
df = pd.DataFrame({'imiona':lst, 'wiek':[14,16,18,17,19,18,15,11,13]})

In [20]:
df

    imiona  wiek
0    janek    14
1  małosia    16
2   leszek    18
3  piotrek    17
4  danusia    19
5    kamil    18
6    dawid    15
7  martyna    11
8   bartek    13

In [22]:
df[df['wiek']>=15]

    imiona  wiek
1  małosia    16
2   leszek    18
3  piotrek    17
4  danusia    19
5    kamil    18
6    dawid    15

In [23]:
df.wiek.sum()

141

In [25]:
df.wiek.mean()

15.666666666666666

In [26]:
df.imiona.count()

9